body.dark-mode .ck.ck-content,
body .ck.ck-content.dark-mode {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}
body.dark-mode .ck-editor__top {
    background-color: #232323 !important;
}
body.dark-mode .ck.ck-toolbar {
    background-color: #232323 !important;
    color: #fff !important;
}
