{% extends 'EngTute/base.html' %}

{% block content %}
<div class="container py-5">
    <div class="text-center my-5">
<!--      {# Main large heading using display-4 for a high-impact font size #}-->
        <h1 class="display-1"><strong>sₖ Tutorial</strong></h1>
<!--      {# A subheading using the lead class for a slightly lighter, descriptive tone #}-->
        <p class="display-6"><strong>Learn to Excel</strong></p>
<!--      {# The call-to-action button: btn-dark gives you a black button with white text; btn-lg for a larger button #}-->
<!--      <a href="#concepts-{{ concepts.order }}"  class="btn btn-dark btn-lg">Get Started</a>-->
    </div>
<!--    {# Future content: a list of items can be inserted here later #}-->
<!--    like add buttons for each course-->
  </div>
{% endblock %}