{% extends "EngTute/base.html" %}
<!--To render all the titles in the Concept model/table's column 'title'-->
{% block title %} EngTute Contents {% endblock %}


{% block content %}
  <!-- Call-to-action section with heading, subheading and button -->
  <div class="container py-5">
    <div class="text-center my-5">
<!--      {# Main large heading using display-4 for a high-impact font size #}-->
      <h1 class="display-4">EngTute</h1>
<!--      {# A subheading using the lead class for a slightly lighter, descriptive tone #}-->
      <p class="lead">A Complete English Tutorial</p>
<!--      {# The call-to-action button: btn-dark gives you a black button with white text; btn-lg for a larger button #}-->
      <a href="#concepts-{{ concepts.order }}"  class="btn btn-dark btn-lg">Get Started</a>
    </div>
<!--    {# Future content: a list of items can be inserted here later #}-->
  </div>
<!--<ul class="list-unstyled sidebar-list">-->
<!--        {% for concept in all_concepts %}-->
<!--          <li class="sidebar-item">-->
<!--            <a href="{% url 'topic' concept.slug %}" class="side-link">-->
<!--              <strong>{{ concept.order }}.</strong> {{ concept.title }}-->
<!--            </a>-->
<!--          </li>-->
<!--        {% endfor %}-->
<!--      </ul>-->
  <div class="container p-5 my-5 border" style="background-color: #f8f8f8;">
    <h1><strong>Contents:</strong></h1>
      <div class="sidebar-inner">
        <ul class="list-unstyled">
            {% for concept in concepts %}
                <div class="" id="concepts-{{ concepts.order }}">
                    <li class="sidebar-item">
                        <a href="{% url 'topic' concept.slug %}" class="side-link"><h3><strong> {{concept.order}}.</strong> {{ concept.title }}</h3></a>
                    </li>
                </div>
            {% empty %}
                <li>No concepts available Right Now!.</li>
            {% endfor %}
        </ul>
      </div>
  </div>
{% endblock %}